version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.2.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 200
      ZOOKEEPER_SYNC_LIMIT: 1

  kafka:
    image: confluentinc/cp-kafka:7.2.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_FLUSH_INTERVAL_MS: 100
      KAFKA_REPLICA_LAG_TIME_MAX_MS: 500
      KAFKA_REQUEST_TIMEOUT_MS: 500
      KAFKA_CONNECTIONS_MAX_IDLE_MS: 60000    # increase from 10000 to 60000 ms (60 sec)
      KAFKA_SESSION_TIMEOUT_MS: 6000

    depends_on:
      - zookeeper

  redis:
    image: redis:7.0-alpine
    container_name: redis
    ports:
      - "6379:6379"
